{{#section 'name'}}
{{!-- {{#each authUser}} --}}
{{username}}
{{!-- {{/each}} --}}
{{/section}}
{{#section 'img'}}
{{!-- {{#each authUser}} --}}
{{img}}
{{!-- {{/each}} --}}
{{/section}}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Upgrade Premium</h3>
      </div>


    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title" >
            <h2>Thời hạn Premium của bạn:{{#if isPremium}} {{#format_date info.time_premium}}{{/format_date}} {{else}} Hết hạn{{/if}}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
             
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-12 col-sm-12 col-xs-12 profile_left">
              <div class="profile_img">
                
              </div>
              <h3>Upgradig your account to Premium</h3>
              <ul class="list-unstyled user_data">
                 &nbsp;&nbsp;&nbsp;Some additional items to take note of before upgrading your account:
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Không được chia sẻ cho người khác. Nếu phát hiện sẽ bị khóa tài khoản.
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Mọi tranh chấp xẩy ra,TTTA Teams sẽ toàn quyền quyết định.
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Thời hạn Premium sẽ không được cộng dồn.
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8226;&nbsp; Thời hạn 
                </li>
              </ul>
              <form action="./upgrade" method="post">
              <button class="btn btn-warning" type="submit" value="Submit"><i class="fa fa-money m-right-sm "></i>
                        &nbsp;&nbsp;&nbsp;&nbsp;Upgrade Premium {{timeupgrade}} days</button>
                
              </form>
              
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>